* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5;
}

body {
  width: 100%;
  height: 100vh;
  color: #333;
  display: block;
}

.urge-header {
  display: flex;
}

#title{
  align-self: center;
  margin-left: 1rem;
}

header h2 {
  font-family: 'Raleway', sans-serif;
  font-size: .875rem;
  text-transform: uppercase;
  color: #777;
  letter-spacing: .1rem;
}

header img {
  width: 6rem;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 100%;
  padding: .25rem;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.content {
background-image:  url('assets/Spermophilus_16_9.jpg');
background-position: top;
background-size: cover;
width: 100%;
height: 100vh; 
background-size: 100%;
background-repeat: no-repeat;
position: relative;
display: flex;
} 

p {
  text-align: left;
}

.qa {
  padding-top: 1rem;
  width: 75%;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color:#453429;
  font-weight: 800;
}

@media (max-width: 600px) {  
  
.content {
background-image:  url('assets/Spermophilus_media.jpg');
background-position: top;
background-size: cover;
width: 100%;
height: 100vh; 
background-size: 100%;
background-repeat: no-repeat;
position: relative;
}
  
  .qa {
  padding-top: 1rem;
  width: 70%;
  margin: 0 auto;
  font-size: 1rem;
} 
  br {
    display: none;
  }
}

@media (min-width: 1024px) {
  
  .qa {
  padding-top: 2rem;
  width: 70%;
  margin: 0 auto;
  font-size: 1.875rem;
} 
}

@media (min-width: 1200px) {
  br {
    display: none;
  }
}
 
